<p id="notice"><%= notice %></p>

<h1>Allergens Table</h1>
<h5>Preliminarily, we can only add new allergen and can't edit or delete existing ones</h5>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Allergen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allergens.each do |allergen| %>
      <tr>
        <td><%= allergen.name %></td>
        <td><%= link_to 'Show', allergen, class: "btn btn-success btn" %></td>
<!--         <td><%= link_to 'Edit', edit_allergen_path(allergen) %></td>
        <td><%= link_to 'Destroy', allergen, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allergen', new_allergen_path, class: "btn btn-success btn-lg"%>
