
<div class="container">
    <div class="row">
        <div class="form">
            <h4 class="text-center login-title">Log in to Allergies Tracker</h4>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-signin">
                    <%= f.label :login %><br />
                    <%= f.text_field :login, autofocus: true %>
                  </div>

                  <div class="form-signin">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="form-signin">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="form-signin">
                    <%= f.submit "Log in" %>
                  </div>
                  <% end %>

                  <div class="form-signin">
                  <%= render "users/shared/links" %>
                  </div>
        </div>
    </div>
</div>