<p id="notice"><%= notice %></p>

<h1>My Food Diary</h1>

<table>
  <thead>
    <tr align="center">
      <th width = "14.4%">Date and Time</th>
      <th width = "14.4%">Meal</th>
      <th width = "14.4%">Food Name</th>
      <th width = "14.4%">Amount (Serving Size)</th>
      <th width = "14.4%">Allergens?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diary_entries.each do |diary_entry| %>
      <tr>
        <td><%= diary_entry.time.to_formatted_s(:short) %></td>
        <td><%= diary_entry.meal %></td>
        <td><%= diary_entry.food %></td>
        <td><%= diary_entry.amount %></td>
        <td>
          <% if get_allergens(diary_entry.food).empty? %>
            <font color="green">Free</font>
          <% else %>
            <font color="red">Detected</font>
          <% end %>
        </td>
        <td>
          <div class="btn-group btn-group-justified" >
            <%= link_to 'Show', diary_entry, :class => 'btn btn-success btn-xs active' %>
            <%= link_to 'Edit', edit_diary_entry_path(diary_entry), :class => 'btn btn-warning btn-xs active' %>
            <%= link_to 'Delete', diary_entry, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs active' %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttom btn-group btn-group-justified">
  <%= link_to 'Add New Entry', new_diary_entry_path, :class => 'btn btn-primary active' %>
  <%= link_to 'Download', diary_entries_download_path, method: :post, :class => 'btn btn-info active' %>
</div>
