<p id="notice"><%= notice %></p>

<% allergens = get_allergens(@diary_entry.food) %>
<% if not get_allergens(@diary_entry.food).empty? %>
  <div class="alert">
    <strong>WARNING: </strong> Allergens detected! We suggest you not taking this entry.
  </div>
<% end %>

<p>
  <strong>Time:</strong>
  <%= @diary_entry.time %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @diary_entry.meal %>
</p>

<p>
  <strong>Food:</strong>
  <%= @diary_entry.food %>
</p>

<p>
  <strong>Allergens:</strong>
  <% get_allergens(@diary_entry.food).each do |a| %>
    <font color="red"><%= a %></font>
  <% end %>
</p>

<p>
  <strong>Amount (Serving Size):</strong>
  <%= @diary_entry.amount %>
</p>

<%= link_to 'Edit', edit_diary_entry_path(@diary_entry) %> |
<%= link_to 'Back', diary_entries_path %>
