<!DOCTYPE html>
<html>
<head class="navbar navbar-fixed-top navbar-inverse">
  <title>FoodAllergyTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation'%>
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-xs-3">
				<h3> Comments </h3>
			</div>
			<div class="col-xs-9">
			<%= yield %>
			</div>
		</div>
	</div>



</body>
</html>
