<!DOCTYPE html>
<html>
<head class="navbar navbar-fixed-top navbar-inverse">
  <title>FoodAllergyTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' : 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' : 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation'%>
	<div id="main-container" class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
