<!DOCTYPE html>
<html>
<head class="navbar navbar-fixed-top navbar-inverse">
  <title>Food Allergies Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <% if current_user %>
	<%= render 'layouts/navigation'%>
	<% end %>
	<div id="main-container" class="container">
	    
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
