<!DOCTYPE html>
<html>
<head class="navbar navbar-fixed-top navbar-inverse">
  <title>FoodAllergyTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/navigation'%>
	<div id="main-container" class="container">
<<<<<<< HEAD
		<div class="row">
			<!-- <div class="col-xs-3"> -->
				<!-- <h3> Comments </h3> -->
			<!-- </div> -->
			<div class="col-xs-9">
			<%= yield %>
			</div>
		</div>
=======
		<%= yield %>
		<%= render 'layouts/footer' %>
>>>>>>> static-pages
	</div>

</body>
</html>
